/*--------------------------------------------------------------------
css?̏?????
--------------------------------------------------------------------*/
font-face {
    font-family: Yugo;  /* ?t?H???g?W???? */
    src:url(../font/YuGothM.ttc);  /* ?t?H???g??RL */
}

@font-face {
    font-family: YugoB;  /* ?t?H???g?W???? */
    src:url(../font/YuGothB.ttc);  /* ?t?H???g??RL */
}

@font-face {
    font-family: Yumin;  /* ?t?H???g?W???? */
    src:url(../font/yumindb.ttf);  /* ?t?H???g??RL */
}


html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: YuGothic, Verdana, '??S?V?b?N', "?q???M?m?p?S ProN W3", "Hiragino Kaku Gothic ProN", "???C???I", Meiryo, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing:border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	box-sizing:border-box;
}

html{
    overflow-y: scroll;
}

blockquote, q {
	quotes: none;
	box-sizing:border-box;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	box-sizing:border-box;
}

input, textarea,{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

ol, ul{
    list-style:none;
	box-sizing:border-box;
}

table{
	width:100%;
    border-collapse: collapse; 
    border-spacing:0;
	box-sizing:border-box;
}

caption, th{
    text-align: left;
	box-sizing:border-box;
}

a:focus {
	outline:none;
}

header:after,footer:after,section:after,article:after,aside:after,div:after,dl:after,ul:after {
	content : "";
	display : block;
	height : 0;
	clear : both;
}

br {
	letter-spacing:0;
}

img {
	width:100%;
	border: 0;
	vertical-align:bottom;
	box-sizing:border-box;
}

div#accesslog img {
	display:block;
	height:0;
}


/*???ʎg?p????*/

body {
	letter-spacing:0.1em;
	/* background:#EDFCE0; */
	background:#fdfdfd;
	font-size:1em;
	color:#333;
	line-height:1.6;
	/*?????T?C?Y?̎????????𖳌?*/
	-webkit-text-size-adjust: 100%;
}

@media (max-width: 780px){
body {
	font-size:0.9em;
}
}

.red {
	color:#F22000;
}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.m10 {
	margin:10px;
}

@media (max-width: 780px){
.m10 {
	margin:10px 0;
}

.left {
	float:none;
}

.right {
	float:none;
}
}

.p10 {
	padding: 0 10px;
}

.p20 {
	padding: 0 20px;
}


.bottom5 {
	margin-bottom: 5px;
}

.bottom10 {
	margin-bottom: 10px;
}

.bottom15 {
	margin-bottom: 15px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom25 {
	margin-bottom: 25px;
}

.bottom30 {
	margin-bottom: 30px;
}

.bottom35 {
	margin-bottom: 35px;
}

.bottom40 {
	margin-bottom: 40px;
}

.bottom50 {
	margin-bottom: 50px;
}

.bottom60 {
	margin-bottom: 60px;
}

@media (max-width: 780px){
.p20 {
	padding: 0;
}

.bottom20 {
	margin-bottom: 10px;
}

.bottom25 {
	margin-bottom: 15px;
}

.bottom30 {
	margin-bottom: 15px;
}

.bottom35 {
	margin-bottom: 15px;
}

.bottom40 {
	margin-bottom: 20px;
}
}

/*?????F?̃X?^?C??*/

a:link,a:visited {
	text-decoration:underline;
	overflow:hidden;
	color:#1C5B91;
}

a:hover {
	text-decoration:none;
	color:#28a8e0;
}

/*hover?̃X?^?C??*/ 
.fade {
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
	-ms-transition: 0s ease-in-out;
}

.fade:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/*scale?̃X?^?C??*/
.scale {
	overflow: hidden;
}
 
.scale img {
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
	-ms-transition: 0s ease-in-out;
}

.scale img:hover {
	webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/*toTop?̃X?^?C??*/
div#toTop01 {
	display:none;
	position:fixed;
	right:20px;
	bottom:20px;
	z-index:99999;
}
	
div#toTop01 a {
	width: 80px;
	height: 80px;
	text-indent: 100%;
	white-space: nowrap;
	overflow:hidden;
	display:block;
	background:url(../../images/top.png) no-repeat left top;
}

div#toTop01 a:hover {
	opacity:0.6;
}

@media (max-width: 780px){
div#toTop01 {
	display:none !important;
}
}

/*box?̃X?^?C??*/
.box1200 {
	clear:both;
	width:100%;
	max-width:1200px;
	margin:0 auto;
	position:relative;
}

.box1200 img {
	max-width:1200px;
}

/*base01*/

.base01 {
	clear:both;
	width:100%;
	padding:60px 25px;
}

.base02 {
	clear:both;
	width:100%;
}

@media (max-width: 780px){
.base01 {
	padding:20px 10px;
}

.base02 {
	padding:0 10px;
}
}

/*title?̃X?^?C??*/

.title01 {
	clear:both;
	padding:30px 0;
	font-size:1.8em;
	/* font-family: Yugo, '??S?V?b?N', "???C???I", Meiryo, serif; */
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
	text-align:center;
	background:#fff;
	box-shadow: 0 15px 10px -3px rgba(0,0,0,0.1);
}

.title01 strong {
	font-size:1.1em;
	font-weight:normal;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
}

@media (max-width: 780px){
.title01 {
	padding:20px 10px;
	font-size:5vw;
	box-shadow: 0 10px 10px -3px rgba(0,0,0,0.1);
}
}

.title02 {
	width:100%;
	clear:both;
	font-size:1.5em;
	line-height:1.4;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
}

@media (max-width: 780px){
.title02 {
	font-size:5vw;
}
}

.title03 {
	clear:both;
	padding:40px 0;
	font-size:1.7em;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
	text-align:center;
	color:#1c5b91;
}

@media (max-width: 780px){
.title03 {
	padding:20px 10px;
	font-size:5vw;
}
}

.title04 {
	width:100%;
	clear:both;
	font-size:1.9em;
	line-height:1.4;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
	color:#1c5b91;
	box-shadow: 0 15px 10px -3px rgba(0,0,0,0.1);
}

@media (max-width: 780px){
.title04 {
	font-size:5vw;
	box-shadow: 0 10px 10px -3px rgba(0,0,0,0.1);
}
}

.title05 {
	width:100%;
	clear:both;
	font-size:1.1em;
	color:#4EA5D3;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
}

@media (max-width: 780px){
.title05 {
	font-size:4.5vw;
}
}

.title06 {
	width:100%;
	clear:both;
	padding:20px;
	font-size:1.2em;
	color:#fff;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
	position: relative;
	display: inline-block;
	background: #1F9F86;
	z-index: 0;
	border-radius:5px;
}

.title06:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #1F9F86 transparent transparent transparent;
}

@media (max-width: 780px){
.title06 {
	padding:10px;
	font-size:4.5vw;
}
}

/*table?̃X?^?C??*/
.table01 {
	clear:both;
	width:100%;
}

.table01 tr {
	background:#fff;
}

.table01 tr th,.table01 tr td {
	padding:5px 20px;
	border:1px solid #ebebeb;
	vertical-align:middle;
	text-align:center;
}

.table01 tr:nth-of-type(2n+1) th {
	background:#f7f7f7;
}

.table01 tr:nth-of-type(2n) th {
	background:#f1f1f1;
}

.table01 tr:nth-of-type(2n+1) td {
	background:#f4feff;
}

.table01 .white {
	background:#fff !important;
}

.table01 .chamo {
	color:#095628;
}

.table01 .aibis {
	color:#0e305a;
}

.table01 tr td.circle {
	font-size:1.6em;
	color:#1c5b91;
}

@media (max-width: 780px){

.table01 tr th,.table01 tr td {
	padding:10px;
	font-size:0.9em;
}

.table01 .bottom {
	border:none;
	background:none;
}
}

.table02 {
	clear:both;
	width:90%;
	margin:0 5%;
}

.table02 tr:nth-of-type(2n) {
	background:#f7f7f7;
}

.table02 tr th,.table02 tr td {
	padding:20px;
	border-bottom:1px solid #ebebeb;
	vertical-align:middle;
	text-align:left;
}

.table02 tr:last-of-type th,.table02 tr:last-of-type td {
	border-bottom:none;
}

.table02 tr th {
	width:30%;
}

.table02 tr td {
	width:70%;
}

span.price {
	font-size:1.2em;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
	font-weight:bold;
	color:#E94648;
}

@media (max-width: 780px){
.table02 {
	width:100%;
	margin:0;
}

.table02 tr:nth-child(2n) {
	background:none;
}

.table02 tr th {
	width:100%;
	padding:10px 0 5px 0;
	display:block;
	border-bottom:none;
	font-weight:bold;
}

.table02 tr td {
	width:100%;
	padding:0 0 10px 0;
	display:block;
	border-top:none;
}
}

.big {
	font-size:1.4em;
}

@media (max-width: 780px){
.big {
	font-size:1em;
}
}

.small01 {
	font-size:0.8em;
}

.bold {
	font-weight:bold;
}

/*textleft?̃X?^?C??*/

.textleft {
	text-align:left !important;
}

.textcenter {
	text-align:center !important;
}

.textright {
	text-align:right !important;
}

/*button?̃X?^?C??*/

.button01 a {
	clear:both;
	display: inline-block;
	padding:12px 40px;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	overflow: hidden;
	cursor:pointer;
	background:#28a8e0;
	font-family: 'YuGothic', 'Yu Gothic', '??S?V?b?N','?q???M?m?p?S Pro W3','Hiragino Kaku Gothic Pro','???C???I','Meiryo',sans-serif;
	font-weight:bold;
	border-radius:5px;
}

.button01 a:hover {
	color:#fff;
	background:#1c5b91;
}

.button01 span {
	padding-left: 30px;
	background:url(../../images/button01-icon.png) no-repeat left;
	background-size:17px;
}

.button02 a {
	clear:both;
	display: inline-block;
	padding:10px;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	overflow: hidden;
	cursor:pointer;
	font-size:1.1em;
	background:#1f9f86;
}

.button02 a:hover {
	color:#333;
	background:#ffc737;
}

.button02 span {
	padding:10px 0 10px 35px;
	background:url(../../images/index/tel.png) no-repeat left;
	background-size:25px;
}

@media (max-width: 780px){
.button01 a {
	width:94%;
	margin:0 3%;
	display:block;
	padding:10px 20px;
	font-size:4.5vw;
}

.button01 span {
	padding-top: 3px;
	padding-bottom: 3px;
}

.button02 a {
	width:100%;
	margin:0;
	display:block;
	font-size:4.5vw;
}

}

/*fadeInDown?̃X?^?C??*/

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}


/*img?؂????̃X?^?C??*/
@media (min-width: 780px){
.smallimg {
	display:none;
}
}

@media (max-width: 780px){
.bigimg {
	display:none;
}
}

strong {
	font-weight:bold;
}

p.crumbs {
	clear:both;
	padding-top: 20px;
	font-size:0.9em;
}

@media (max-width: 780px){
p.crumbs {
	display:none;
}
}

/*map?̃X?^?C??*/
.maps {
	position: relative;
	padding-bottom: 65%; // ???ꂪ?c????
	height: 0;
	overflow: hidden;
}

.maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/*youtube?̃X?^?C??*/
div.youtube01 {
    position: relative;
    width: 100%;
    padding: 54.3% 0 0 0;
}

div.youtube01 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}