@charset "shift_jis";

/*--------------------------------------------------------------------
webfont読込
--------------------------------------------------------------------*/
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

.noto100 {font-weight:100;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto700 {font-weight:700;}
.noto900 {font-weight:900;}

/*--------------------------------------------------------------------
cssの初期化
--------------------------------------------------------------------*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing:border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	box-sizing:border-box;
}

html{
    overflow-y: scroll;
}

blockquote, q {
	quotes: none;
	box-sizing:border-box;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	box-sizing:border-box;
}

input, textarea,{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

ol, ul{
    list-style:none;
	box-sizing:border-box;
}

table{
	width:100%;
    border-collapse: collapse; 
    border-spacing:0;
	box-sizing:border-box;
}

caption, th{
    text-align: left;
	box-sizing:border-box;
}

a:focus {
	outline:none;
}

header:after,footer:after,section:after,article:after,aside:after,div:after,dl:after,ul:after {
	content : "";
	display : block;
	height : 0;
	clear : both;
}

br {
	letter-spacing:0;
}

img {
	width:100%;
	border: 0;
	vertical-align:bottom;
	box-sizing:border-box;
}

div#accesslog img {
	display:block;
	height:0;
}


/*共通使用部分*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-size:0.95em;
	letter-spacing:0.1em;
	/*文字サイズの自動調整を無効*/
	-webkit-text-size-adjust: 100%;
	line-height:1.6;
	color:#fff;
	background:url(../../images/body-bg.png) repeat-y center top #000;
}

@media (max-width: 880px){
body {
	font-size:0.8em;
}
}

.red {
	color:#fd0e0e;
}

.black {
	color:#333;
}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.m10 {
	margin:10px;
}

@media (max-width: 880px){
.m10 {
	margin:10px 0;
}

.left {
	float:none;
}

.right {
	float:none;
}
}

.p10 {
	padding: 0 10px;
}


.bottom5 {
	margin-bottom: 5px;
}

.bottom10 {
	margin-bottom: 10px;
}

.bottom15 {
	margin-bottom: 15px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom25 {
	margin-bottom: 25px;
}

.bottom30 {
	margin-bottom: 30px;
}

.bottom40 {
	margin-bottom: 40px;
}

.bottom50 {
	margin-bottom: 50px;
}

.bottom60 {
	margin-bottom: 60px;
}

@media (max-width: 880px){
.bottom15 {
	margin-bottom: 10px;
}

.bottom20 {
	margin-bottom: 10px;
}

.bottom25 {
	margin-bottom: 15px;
}

.bottom30 {
	margin-bottom: 15px;
}
}

/*文字色のスタイル*/

a:link,a:visited {
	text-decoration:none;
	overflow:hidden;
	color:#fff;
}

a:hover {
	text-decoration:underline;
	color:#ebebeb;
}

/*hoverのスタイル*/ 
.fade {
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
	-ms-transition: 0s ease-in-out;
}

.fade:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/*scaleのスタイル*/
.scale {
	overflow: hidden;
}
 
.scale img {
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
	-ms-transition: 0s ease-in-out;
}

.scale img:hover {
	webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/*boxのスタイル*/
.box1100 {
	clear:both;
	width:100%;
	max-width:1100px;
	margin:0 auto;
	position:relative;
}

.box1100 img {
	max-width:1100px;
}

.box1000 {
	clear:both;
	width:100%;
	max-width:1000px;
	margin:0 auto;
	position:relative;
}

/*titleのスタイル*/

.title01 {
	padding:35px 0;
	font-size:2em;
	text-align:center;
	color:#fd0101;
}

span.title_icon {
	margin-bottom: 15px;
	display:block;
}

span.title_icon img {
	max-width:70px;
}

@media (max-width: 880px){
.title01 {
	padding:15px 5px;
	font-size:5vw;
}

span.title_icon {
	margin-bottom: 10px;
}

span.title_icon img {
	max-width:50px;
}
}

.title02 {
	padding-left: 5px;
	font-size:1.2em;
	color:#fd0101;
	line-height:1.2;
	border-left:5px solid #fd0101;
}

@media (max-width: 880px){
.title02 {
	font-size:4.5vw;
}
}

.title03 {
	padding:15px 10px;
	font-size:1.2em;
	text-align:center;
	border-bottom:1px solid #ddd;
}

@media (max-width: 880px){
.title03 {
	padding:10px;
	font-size:4.5vw;
}
}

.title04 {
	clear:both;
	padding-bottom:20px;
	font-size:1.8em;
	color:#ad181f;
	line-height:1.4;
	border-bottom:1px solid #ddd;
}

@media (max-width: 880px){
.title04 {
	padding:0 10px 10px 10px;
	font-size:4.5vw;
}
}

.title05 {
	clear:both;
	padding:15px 0;
	font-size:1.6em;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

@media (max-width: 880px){
.title05 {
	padding:10px;
	font-size:4vw;

}
}

.title06 {
	clear:both;
	padding:15px 0;
	font-size:1.6em;
	border-top:1px solid #cbcbcb;
	border-bottom:1px solid #cbcbcb;
}

@media (max-width: 880px){
.title06 {
	padding:10px 0;
	font-size:4vw;
}
}

.title07 {
	clear:both;
	padding:20px 0;
	font-size:1.5em;
	border-bottom:2px solid #222;
}

@media (max-width: 880px){
.title07 {
	padding:15px 0;
	font-size:4.5vw;
}
}

/*baseのスタイル*/
.base01 {
	clear:both;
	margin-bottom: 40px;
}

.base02 {
	clear:both;
}

.base03 {
	clear:both;
	margin-bottom: 40px;
}

@media (max-width: 880px){
.base01 {
	margin-bottom: 20px;
}

.base02 {
	padding:0 10px;
}

.base03 {
	margin-bottom: 20px;
}

.base04 {
	padding:0 10px;
}
}

/*iconのスタイル*/
.icon01 {
	padding:5px 0 5px 35px;
	font-size:1.6em;
	background:url(../../images/icon01.png) no-repeat 0 10px;
	background-size:25px;
}
@media (max-width: 880px){
.icon01 {
	padding:5px 0 5px 35px;
	font-size:4vw;
	background:url(../../images/icon01.png) no-repeat 0 50%;
	background-size:25px;
}
}

/*lineのスタイル*/
.line01 {
	border:1px solid #DEDEDE;
}

/*tableのスタイル*/
.table01 table {
	clear:both;
	width:100%;
}

.table01 tr {
	background:#fff;
}

.table01 tr:nth-child(2n+1) {
	background:#fbfbfb;
}

.table01 tr th,.table01 tr td {
	padding:15px 10px;
	border:1px solid #ddd;
	vertical-align:middle;
	text-align:left;
	word-break:break-all;
}

.table01 tr th,.table01 tr td.col_1 {
	width:30%;
	background:#F7F7F7;
}

@media (max-width: 880px){
.table01 tr th,.table01 tr td {
	width:100%;
	padding:10px;
	display:block;
	margin-bottom: 10px;
}

.table01 tr th,.table01 tr td.col_1 {
	width:100%;
	display:block;
	border-bottom:none;
	margin-bottom: 0;
}
}

.table02 table {
	clear:both;
	width:100%;
}

.table02 tr:nth-child(2n+1) {
	background:#fbfbfb;
}

.table02 tr th,.table02 tr td {
	padding:15px 10px;
	border:1px solid #ddd;
	vertical-align:middle;
	text-align:left;
	word-break:break-all;
}

.table02 tr th {
	background:#fafafa;
}

@media (max-width: 880px){
.table02 tr th,.table02 tr td {
	padding:10px 5px;
	font-size:0.9em;
}
}

.big {
	font-size:1.4em !important;
}

.small {
	font-size:0.9em !important;
}

.bold {
	font-weight:bold;
}

@media (max-width: 880px){
.big {
	font-size:4vw !important;
}
}

/*textleftのスタイル*/

.textleft {
	text-align:left;
}

.textcenter {
	text-align:center !important;
}

.textright {
	text-align:right;
}

/*buttonのスタイル*/

.button01 {
}

.button01 a {
	clear:both;
	padding:12px 70px;
	text-align: center;
	color: #fff;
	cursor:pointer;
	font-size:1.2em;
	display:inline-block;
	background:url(../../images/button-icon01.png) no-repeat center right #fd0101;
	background-size:25px 15px;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
	-ms-transition: 0s ease-in-out;
}

.button01 a:hover {
	background:url(../../images/button-icon01.png) no-repeat center right #23b8e4;
	background-size:25px 15px;
	color:#fff;
	text-decoration:none;
}

@media (max-width: 880px){

.button01 a {
	width:100%;
	display:block;
	padding:10px;
	font-size:4vw;
}
}

.button02 a {
	padding:9px 20px 11px 10px;
	text-align: center;
	color: #fff;
	cursor:pointer;
	text-align: center;
	font-size:1.1em;
	display:block;
	background:url(../../images/button-icon01.png) no-repeat center right #333;
	background-size:25px 15px;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
	-ms-transition: 0s ease-in-out;
}

.button02 a:hover {
	background:url(../../images/button-icon01.png) no-repeat center right #fd0e0e;
	background-size:25px 15px;
	color:#fff;
	text-decoration:none;
}

@media (max-width: 880px){

.button01 a {
	width:100%;
	margin:0;
	display:block;
	font-size:4vw;
	padding:10px;
	border-radius:3px;
}

.button01 a:hover {
	color:#fff;
	text-decoration:none;
}

.button02 a {
	width:100%;
	margin:0;
	display:block;
	font-size:4vw;
	padding:10px;
	border-radius:3px;
}
}

/*mapのスタイル*/
.maps {
	position: relative;
	padding-bottom: 65%; // これが縦横比
	height: 0;
	overflow: hidden;
}

.maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.w80 {
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}

@media (max-width: 880px){
.w80 {
	width:100%;
	margin-left: 0;
	margin-right: 0;
}
}

.w70 {
	width:70%;
	margin-left: 15%;
	margin-right: 15%;
}

/*fadeInDownのスタイル*/

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

/*listのスタイル*/
.list01 li {
	padding:10px 0 10px 50px;
	font-size:1.4em;
	background:url(../../images/icon01.png) no-repeat 0 50%;
	background-size:40px;
}

@media (max-width: 880px){
.list01 li {
	padding:10px 0 10px 50px;
	font-size:4vw;
}
}

.list02 li {
	padding:10px 0 10px 50px;
	font-size:1.4em;
	background:url(../../images/icon02.png) no-repeat 0 50%;
	background-size:40px;
}

@media (max-width: 880px){
.list02 li {
	padding:10px 0 10px 50px;
	font-size:4vw;
}
}

.list03 dl dt {
	width:46%;
}

.list03 dl dd {
	width:50%;
}

@media (max-width: 880px){
.list03 dl dt {
	width:70%;
	margin:0 15% 20px 15%;
}

.list03 dl dd {
	width:100%;
}
}

.list04 dl {
	width:22%;
	float:left;
	margin-left: 4%;
}

.list04 dl:nth-of-type(4n+1) {
	margin-left: 0;
}

@media (max-width: 880px){
.list04 dl {
	width:50%;
	float:left;
	margin-left:0;
	margin-bottom: 15px;
}

.list04 dl:nth-of-type(2n+1) {
	clear:both;
}

.list04 dl dd {
	padding:0 5px;
}
}

/*g-list*/

div.g-list01 table tr td {
	clear:both;
	width:100%;
	padding-bottom: 40px;
	vertical-align:top;
}

div.g-list01 table tr:last-of-type td {
	padding-bottom: 0;
}

div.g-list01 table tr td img {
	width:40%;
	float:right;
}

div.g-list01 table tr td p {
	width:57%;
	float:left;
	font-size:1.1em;
}

div.g-list01 table tr td p b {
	font-weight:bold;
}

div.g-list01 table tr td div {
	display:none;
}

@media (max-width: 880px){
div.g-list01 table tr td {
	padding-bottom: 20px;
}

div.g-list01 table tr td img {
	width:70%;
	margin:0 15% 10px 15%;
	float:none;
}

div.g-list01 table tr td p {
	width:100%;
	float:none;
	font-size:1em;
}
}

div.g-list02 table tr td {
	width:48%;
	vertical-align:top;
	padding-bottom: 4%;
}

div.g-list02 table tr td:nth-of-type(2) {
	width:52%;
	padding-left:4%;
}

div.g-list02 table tr td img {
	margin-bottom: 20px;
}

@media (max-width: 880px){
div.g-list02 table tr td {
	width:50%;
}

div.g-list02 table tr td:nth-of-type(2) {
	width:50%;
	padding-left:0;
}

div.g-list02 table tr td img {
	margin-bottom: 10px;
}
}

/*txtのスタイル*/
.txt01 {
	padding:20px;
	border:2px dashed #4487C9;
}

@media (max-width: 880px){
.txt01 {
	padding:10px;
}
}
/*img切り替えのスタイル*/
@media (min-width: 880px){
.smallimg {
	display:none;
}
}

@media (max-width: 880px){
.bigimg {
	display:none;
}
}

/*flexのスタイル*/
.flex-list01 {
	display:flex;
	justify-content: space-between;
  	flex-wrap: wrap;
}