@charset "utf-8";

@font-face {
    font-family: Yugo;  /* フォント集合名 */
    src:url(../font/YuGothM.ttc);  /* フォントのURL */
}

@font-face {
    font-family: YugoB;  /* フォント集合名 */
    src:url(../font/YuGothB.ttc);  /* フォントのURL */
}

@font-face {
    font-family: Yumin;  /* フォント集合名 */
    src:url(../font/yumindb.ttf);  /* フォントのURL */
}

div.main_bottom {
	display:none;
}

#loadimg {
	padding:13% 0;
}

#loading {
	display:none;
}

@media (max-width: 780px){
#loadimg {
	padding:20% 0;
}

#loadimg img {
	width:50px !important;
}
}
/* header */

header#header {
	width:100%;
	height:100%;
	max-height:100px;
	background:rgba(255,255,255,0.95);
	position:fixed;
	z-index:99999;
	font-size:0.9em;
}

.header-left {
	width:69%;
	float:left;
	display: flex;
	justify-content: center;
}

header#header h1 {
	width:20%;
	float:left;
	align-items: center;
}

header#header h1 img {
	max-width:160px;
}

nav#nav {
	width:80%;
	float:right;
}

nav#nav ul {
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav#nav ul li.nav01 {
	width:30%;
}

nav#nav ul li.nav02 {
	width:20%;
}

nav#nav ul li.nav03 {
	width:18%;
}

nav#nav ul li.nav04 {
	width:12%;
}

nav#nav ul li.nav05 {
	width:20%;
}

nav#nav ul li a {
	padding:15% 0;
	display:block;
	text-align:center;
	color:#000;
	text-decoration:none;
}

nav#nav ul li a:hover {
	text-decoration:underline;
	color:#28a8e0;
}

.header-right {
	width:31%;
	float:right;
	padding-top: 20px;
	font-size:0.9em;
}

header#header div.headr-menu {
	text-align:right;
	font-size:0.9em;
	float:right;
}

header#header div.headr-menu ul li {
	margin-right: 15px;
	padding:3px 0 3px 10px;
	background:url(../../images/header-icon02.png) no-repeat left;
	background-size:3px 5px;
	float:left;
}

header#header p.header-tel em {
	padding:5px 7px 5px 7px;
	background:#28a8e0;
	color:#fff;
	border-radius:3px;
}

header#header p.header-tel span {
	color:#28a8e0;
	font-size:1.2em;
}

header#header p.header-contact strong {
	padding:6px 0 6px 35px;
	background:url(../../images/header-icon01.png) no-repeat 0 2px;
	background-size:28px 24px;
}

header#header p.header-contact span {
	font-size:0.9em;
}

@media (max-width: 1200px){
.header-left {
	width:78%;
}

.header-right {
	padding-top: 20px;
}

header#header div.headr-menu,header#header p.header-tel em,header#header p.header-contact span {
	display:none;
}

.header-right {
	width:21%;
	padding-right: 10px;
	text-align:right;
}
}

@media (max-width: 980px){
.header-left {
	width:100%;
}

.header-right {
	display:none;
}
}

@media (max-width: 780px){
header#header {
	width:100%;
	height:55px;
}

.header-left {
	width:70%;
	float:left;
	display:block;
	position:fixed;
	z-index:99999;	
}

header#header h1 {
	width:60%;
	height:55px;
	padding:0;
}

header#header h1 img {
	max-width:160px;
}

header#header p.header-bt01 {
	position:absolute;
	top:10px;
	right:60px;
	z-index:99999;
}

nav#nav {
	display:none;
}
}

/*main*/
div#main {
	clear:both;
	width:100%;
	padding-top: 100px;
}

@media (max-width: 780px){
div#main {
	padding-top: 56px;
}
}

/* footer */
footer#footer {
	clear:both;
	width:100%;
	background:#333;
	margin-top: -1px;
}

footer#footer div.footer-logo {
	width:30%;
	float:left;
	padding:40px 0;
}

footer#footer div.footer-logo img {
	max-width:150px;
}

footer#footer div.footer-menu {
	width:70%;
	padding:50px 0;
	float:right;
}

footer#footer div.footer-menu ul {
	float:right;
}

footer div.footer-menu ul li {
	padding:2px 15px 2px 0;
	font-size:0.8em;
	float:left;
}

footer div.footer-menu ul li a {
	color:#d7d7d7;
	text-decoration:none;
}

footer div.footer-menu ul li a:hover {
	text-decoration:underline;
}

div#small {
	clear:both;
	width:100%;
	padding:10px 20px 30px 20px;
	font-size:0.8em;
	color:#999;
}

@media (max-width: 780px){
footer#footer div.footer-logo {
	width:100%;
	float:none;
	padding:30px 0;
	text-align:center;
}

footer#footer div.footer-menu {
	width:100%;
	padding:0;
	float:none;
}

footer#footer div.footer-menu ul {
	float:none;
}

footer div.footer-menu ul li {
	padding:0;
	font-size:1em;
	float:none;
	border-top:1px solid #999;
}

footer div.footer-menu ul li a {
	padding:15px 10px;
	display:block;
	background:url(../../images/footer-icon.png) no-repeat right;
	background-size:25px 20px;
}

div#small {
	padding:15px 10px;
	font-size:0.8em;
	border-top:1px solid #999;
}
}

/* index */
div.main-index {
	clear:both;
	background:url(../../images/index/main-img.png) no-repeat center center;
	background-size:cover;
}

div.main-index .box1200 {
	padding:13% 30px 5% 30px;
}

div.main-index h1 {
	margin-left: -10px;
	padding:0 5px;
	line-height:1.2;
	font-size:2.6em;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
	display:inline-block;
	background:rgba(255,255,255,0.9);
}

div.main-index h1 strong {
	font-weight:normal;
	font-size:1.1em;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
}

div.main-index h2 {
	width:55%;
	line-height:1.4;
	font-size:2.2em;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
	color:#1c5b91;
}

div.main-index h2 ruby {
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
}

div.main-index p {
	width:60%;
	font-size:1.1em;
}

div.main-index p.button01 {
	font-size:1em;
}

@media (max-width: 1200px){
div.main-index .box1200 {
	padding:15% 20px 5% 20px;
}

div.main-index h1 {
	font-size:2.2em;
}

div.main-index h2 {
	width:65%;
	font-size:1.8em;
}

div.main-index p {
	width:65%;
	font-size:1em;
}
}

@media (max-width: 880px){
div.main-index .box1200 {
	padding:15% 20px 5% 20px;
}

div.main-index h1 {
	font-size:2em;
}

div.main-index h2 {
	width:100%;
	font-size:1.8em;
	text-shadow: 1px 1px 1px #fff,-1px 1px 1px #fff,1px -1px 1px #fff,-1px -1px 1px #fff;

}

div.main-index p {
	width:100%;
	text-shadow: 1px 1px 1px #fff,-1px 1px 1px #fff,1px -1px 1px #fff,-1px -1px 1px #fff;
}

div.main-index p.button01 {
	text-shadow: none;
}
}

@media (max-width: 780px){
div.main-index {
	clear:both;
	padding-top: 55px;
	background:url(../../images/index/main-img02.png) no-repeat center center;
	background-size:cover;
}

div.main-index .box1200 {
	padding:5% 10px 5% 10px;
}

div.main-index h1 {
	margin-left: -5px;
	font-size:5vw;
}

div.main-index h2 {
	font-size:5vw;
}

div.main-index p {
	width:100%;
	text-shadow: 1px 1px 1px #fff,-1px 1px 1px #fff,1px -1px 1px #fff,-1px -1px 1px #fff;
}
}

section.index01 {
	padding:0 0 20px 0;
	background:#e3e4e5;
}

@media (max-width: 780px){

}

section.index02 {
	padding-top: 80px;
}

section.index02 dl {
	padding-bottom: 80px;
}

section.index02 dl dt {
	width:50%;
	padding:0 25px;
	text-align:center;
}

section.index02 dl dt img {
	max-width:500px;
}

section.index02 dl dd {
	width:50%;
	padding:35px 25px;
}

p.index02-point {
	padding:10px 15px;
	background:#f2f2f2;
}

.gray {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.2s linear;
}

.gray:hover {
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 780px){
section.index02 {
	padding-top: 30px;
}

section.index02 dl {
	padding-bottom: 40px;
}

section.index02 dl dt {
	width:70%;
	margin:0 15% 10px 15%;
	padding:0;
	text-align:center;
}

section.index02 dl dd {
	width:100%;
	padding:0 10px;
}

p.index02-point {
	padding:10px;
}

}

section.index03 {
	padding-bottom: 60px;
}

div.index03-list {
	padding:0 25px;
	display: flex;
	justify-content: center;
}

div.index03-list dl {
	width:25%;
	padding:30px 20px;
	background:#a3dfe1;
}

div.index03-list dl.blue {
	background:#ceecee;
}

div.index03-list dl dt img {
	max-width:126px;
}

div.index03-list dl dd .title02 {
	font-family: YugoB, '游ゴシック', "メイリオ", Meiryo, serif;
	font-size:1.05em;
}

div.index03-list dl dd p {
	font-size:0.9em;
}

@media (max-width: 780px){
section.index03 {
	padding-bottom: 20px;
}

div.index03-list {
	display: block;
	padding:0;
}

div.index03-list dl {
	width:100%;
	padding:30px 20px;
}

div.index03-list dl dt img {
	max-width:126px;
}

div.index03-list dl dd .title02 {
	font-size:4.5vw;
}

div.index03-list dl dd p {
	font-size:1em;
}
}

div.index04-bg01 {
	padding:70px 0;
	background:url(../../images/index/index04-bg01.png) no-repeat center center;
	background-size:cover;
	text-align:center;
	box-shadow: 0 15px 10px -3px rgba(0,0,0,0.1);
}
	
section.index04 h2 {
	padding:30px 35px;
	font-size:1.8em;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
	display:inline-block;
	background:rgba(255,255,255,0.7);
	line-height:1.2;
}

section.index04 h2 strong {
	font-size:1.1em;
	font-weight:normal;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
}

section.index04 table img {
	max-width:380px;
}

section.index04 table tr th {
	width:25%;
}

section.index04 table tr td {
	width:37.5%;
}

@media (max-width: 780px){
div.index04-bg01  {
	padding:10px;
	box-shadow: 0 10px 10px -3px rgba(0,0,0,0.1);
}

section.index04 h2 {
	padding:20px 15px;
	font-size:4.5vw;
}
}

section.index05 {
	background:url(../../images/index/index05-bg01.png) no-repeat left top;
	background-size:cover;
}

section.index05 .right {
	width:50%;
	padding:20px 0;
}

section.index05 .left {
	width:48%;
	padding:20px 0;
	color:#fff;
}

section.index05 .left h3 img {
	max-width:110px;
}

@media (max-width: 780px){
section.index05 .right {
	width:100%;
	padding:0 15% 10px 15%;
}

section.index05 .left {
	width:100%;
	padding:0;
}
}

/* main-img */
div#main-img {
	padding:120px 0;
	box-shadow: 0 15px 10px -3px rgba(0,0,0,0.1);
}

div#main-img h1 {
	font-size:2.4em;
	line-height:1.4;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
	color:#fff;
	font-weight:bold;
	text-shadow:0px 0px 5px #000;
}

@media (max-width: 780px){
div#main-img {
	padding:50px 10px;
	box-shadow: 0 10px 10px -3px rgba(0,0,0,0.1);
}

div#main-img h1 {
	font-size:5vw;
}
}

div#main-img02 {
	padding:40px 0;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	background:#fff;
}

div#main-img02 h1 {
	padding:0 10px;
	font-size:1.8em;
	line-height:1.4;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
}

@media (max-width: 780px){
div#main-img02 {
	padding:20px 0;
}

div#main-img02 h1 {
	font-size:5vw;
}
}

/* flow */
div.flow-main {
	background:url(../../images/flow/main-img.png) no-repeat center center;
	background-size:cover;
}

section.flow01 {
	background:url(../../images/flow/flow-bg.png) no-repeat left top;
	background-size:cover;
}

div.flow-box {
	width:70%;
	margin:0 15% 30px 15%;
	padding:30px 60px;
	background:rgba(255,255,255,0.6);
}

div.flow-box img {
	width:130px;
}

p.flow-arrow img {
	width:20px;
}

@media (max-width: 780px){
div.flow-box {
	width:100%;
	margin:0 0 15px 0;
	padding:15px 20px;
}

div.flow-box img {
	width:130px;
}

p.flow-arrow img {
	width:20px;
}
}

/* price */
section.main-icon {
	background:#E3E4E5;
}

section.main-icon h1 {
	padding-top: 30px;
}

section.main-icon h1 img {
	max-width:140px;
}

section.main-icon h2 {
	margin:-70px 0 0 0;
	padding:85px 0 30px 0;
	background:#fff;
}

@media (max-width: 780px){
section.main-icon h1 {
	padding-top: 20px;
}

section.main-icon h1 img {
	max-width:100px;
}

section.main-icon h2 {
	margin:-50px 0 0 0;
	padding:65px 0 20px 0;
}
}

section.price01 h2 {
	padding:40px 60px;
	font-size:1.9em;
	line-height:1.4;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
	background:#1c5b91;
	color:#fff;
	display:inline-block;
	border-radius:5px;
}

section.price01 h2 strong {
	font-size:1.4em;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
}

section.price01 ul {
	width:60%;
	margin-left: 20%;
	margin-right: 20%;
}

section.price01 ul li {
	text-align:left;
}

@media (max-width: 780px){
section.price01 h2 {
	padding:20px 30px;
	font-size:4.5vw;
}

section.price01 ul {
	width:100%;
	margin-left: 0;
	margin-right: 0;
}
}

section.price02 {
	background:#E3E4E5;
}

section.price02 img {
	max-width:200px;
}

section.price02 div.left {
	width:30%;
}

section.price02 div.right {
	width:70%;
}

@media (max-width: 780px){
section.price02 img {
	max-width:150px;
}

}

/* contct */
div.contact-main {
	background:url(../../images/contact/main-img.png) no-repeat center center;
	background-size:cover;
}

section.contact01 {
	background:url(../../images/contact/contact-bg.png) no-repeat left top;
	background-size:cover;
	color:#fff;
}

span.inquiry {
	margin-left: 10px;
	padding:2px 5px;
	color:#fff;
	font-size:0.8em;
	background:#28a8e0;
}

div.contact-form {
	width:90%;
	margin:0 5%;
}

div.contact-form dl {
	width:100%;
	margin-bottom: 20px;
	display: flex;
}

div.contact-form dl dt {
	width:30%;
	padding:15px;
	background:#222;
}

div.contact-form dl dd {
	width:70%;
	padding:10px;
	background:#fff;
}

div.contact-form dl dd input {
	padding:10px 5px;
	background:#f4f4f4;
	border:none;
}

input.input01 {
	width:98%;
}

input.input02 {
	width:60%;
}

div.contact-form textarea {
	width:98%;
	padding:10px 5px;
	background:#f4f4f4;
	border:none;
}

input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}


p.submit-bt {
	margin:40px 0;
	text-align:center;
}

p.submit-bt input {
	padding:15px 35px;
	border:none;
	text-align:center;
	font-size:1.2em;
	line-height:1.4;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
	cursor:pointer;
	border-radius:5px;
	letter-spacing:0.1em;
	font-weight:bold;
}

p.submit-bt input.input03 {
	background:#28a8e0;
	color:#fff;
}

p.submit-bt input.input03:hover {
	background:#1C5B91;
}

p.submit-bt input.input04 {
	background:#e3485a;
	color:#fff;
}

p.submit-bt input.input04:hover {
	background:#d6263b;
}

p.submit-bt input.input05 {
	margin-right: 30px;
	background:#c9d6cf;
}

p.submit-bt input.input05:hover {
	background:#aec0b6;
}

span.wpcf7-not-valid-tip {
	padding-top: 5px;
}

div.wpcf7-validation-errors {
	margin-bottom: 40px;
	padding:20px;
	border:2px dashed #fff;
	color:#FFF500;
}

div.wpcf7-mail-sent-ok {
	margin-bottom: 40px;
	padding:20px;
	font-size:1.2em;
	line-height:1.4;
	font-family: 'YuGothic', 'Yu Gothic', '游ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
	cursor:pointer;
	border-radius:5px;
	background:#e3485a;
	color:#fff;
	text-align:center;
	border:none;
}

img.ajax-loader {
	width:auto;
}

@media (max-width: 780px){
span.inquiry {
	font-size:1em;
}

div.contact-form {
	width:100%;
	margin:0;
}

div.contact-form dl {
	display: block;
}

div.contact-form dl dt {
	width:100%;
	padding:10px;
}

div.contact-form dl dd {
	width:100%;
	padding:10px;
}

div.contact-form input {
	font-size:16px;
}

input.input01 {
	width:97%;
}

input.input02 {
	width:97%;
}

div.contact-form textarea {
	width:97%;
}

p.submit-bt {
	margin:20px 0;
	text-align:center;
}

p.submit-bt input {
	padding:10px 20px;
	font-size:1.1em;
}

p.submit-bt input.input05 {
	margin-right: 15px;
}

div.wpcf7-validation-errors {
	margin-bottom: 20px;
	padding:15px;
}

div.wpcf7-mail-sent-ok {
	margin-bottom: 20px;
	padding:15px;
	font-size:1em;
}
}


/* kiyaku */
section.kiyaku01 h2 {
	padding-bottom: 10px;
	border-bottom:1px solid #ebebeb;
}

section.kiyaku01 h2.privacy-img01 {
	padding-bottom: 0;
	border-bottom:none;
}

section.kiyaku01 h2.privacy-img01 img {
	width:150px;
}

section.kiyaku01 p {
	padding-left: 35px;
}

section.kiyaku01 p.privacy-top {
	padding-left: 0;
}

section.kiyaku01 h3 {
	font-size:1.1em;
	font-weight:bold;
	color:#203f66;
}

section.kiyaku01 ol {
	padding-left: 60px;
	list-style-type: decimal;
}

section.kiyaku01 ol li {
	margin-bottom: 5px;
}

section.kiyaku01 ul {
	padding-left: 35px;
}

@media (max-width: 780px){
section.kiyaku01 p {
	padding-left: 6.2vw;
}

section.kiyaku01 h3 {
	font-weight:normal;
}

section.kiyaku01 ol {
	padding-left: 10vw;
}

section.kiyaku01 ul {
	padding-left: 6.2vw;
}
}

/* company */
div.company-map {
	width:70%;
	margin:60px 15% 0 15%;
}

@media (max-width: 780px){
div.company-map {
	width:90%;
	margin:20px 5% 0 5%;
}
}

/* 2016/11/17 高橋様指示で追加 */
.aibis-titlebar {
  	background-color: #1c5b91!important;
  }
  .operator_name {
    color: #1c5b91!important;
  }
  .aibis_main span:first-of-type {
    color: #1c5b91!important;
  }
.user_message {
background-color: #1c5b91!important;
}
